<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">The Decider</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">View Campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Create a Campaign</a>
        </li>
      </ul>
      <div class="text-muted">
          {% if request.user.is_authenticated %}
              Logged in as {{ request.user.username }}
          {% else %}
              Not Logged In
          {% endif %}
      </div>
    </div>
  </div>
</nav>